* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    color: #fff;
    background-color: #000000;
    height: 100vh;
}

marquee {
    font-size: 16rem;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: fantasy;
}